@media(min-width:900px){

    

}

@media(max-width:900px){
    .article-title{
        text-align: center;
    }
   
    

    .nav-Container{
        padding-left: 10rem;
    }
   
}

.example::-webkit-scrollbar {
    display: none;
}
