@media screen and (min-width: 900px) {

    header {
        background-color: #0d475c;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    
  .search-container {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
  }

  .search-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .search-container>form>input[type="text"]:first-child {
    width: 80%;
    border: none;
    outline: none;
    padding: 5px 5px 5px 20px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
  }

  .search-container>form>input[type="text"]:nth-child(3) {
    /* width: 80%; */
    border: none;
    outline: none;
    padding: 5px 5px 5px 20px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
  }

  .search-container input[type="text"]:focus {
    outline: none;
    border-color: #333;
  }
  
 
  .icon-container{
    width: 180px;
    justify-content: space-evenly;
    display: flex;
    margin-top: 0.9rem;
  }
  .icon-container>div>i{
    cursor: pointer;
  }

  
}

.fa-solid {
  color: #777;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.fa-plus{
  color: #0d475c!important;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0.1rem 0.2rem ;
  font-size: 1.5rem!important;
}

@media screen and (max-width: 900px) {
    header {
        background-color: #0d475c;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 20vh;
    }
    
  .search-container {
    width: 96%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0.2rem;
    left: 2%;
  }

  .search-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .search-container>form>input[type="text"]:first-child {
    width: 80%;
    border: none;
    outline: none;
    padding: 5px 5px 5px 20px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
  }


  .search-container input[type="text"]:focus {
    outline: none;
    border-color: #333;
  }
  
  .search-container > form > input:nth-child(3) {
    display: none;
  }
  .remove {
    display: none;
  }
 

  .icon-container{
    width: 180px;
    height: fit-content;
    justify-content: space-evenly;
    display: flex;
    color: white;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;

  }
}
